* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: Arial Narrow, sans-serif;
}

html,
body {
  min-height: 100dvh;
}

body {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

