.details {
    display: flex; 
    justify-content: center;
    background-color: #D5E3ED;
    align-items: center;
    padding: 1rem;
    padding-bottom: 10rem;
}

.detail-container {
    display: flex;
    max-width: 60rem;
    background-color: #D5E3ED;
    gap: 2rem;
    min-height: 100dvh;
}

.detail-container h1 {
    font-family: 'Averia Serif Libre', serif;
    font-size: 2.4rem;
}

.details-left {
    max-width: 25rem;
}

.details-left img {
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.details-right {
    max-width: 30rem;
    padding: 1rem;
}

button {
    border-radius: 1rem;
    font-size: 1.3rem;
    max-width: 100%;
    background-color: antiquewhite;
    border-width: 0.05rem;
    border-color: #2c4830;
    color: #2c4830;
    font-family: 'Averia Serif Libre', serif;
}