nav {
  display: flex;
  justify-content: center;
  background-color: #2c4830;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-family: "Gill Sans MT", serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 70rem;
}

/* unvisited link */
.navbar a:link {
  text-decoration: none;
  color: #d5e3ed;
}

/* visited link */
.navbar a:visited {
  text-decoration: none;
  color: #d5e3ed;
}

/* mouse over link */
.navbar a:hover {
  text-decoration: none;
  color: #d5e3ed;
}

/* selected link */
.navbar a:active {
  text-decoration: none;
  color: #d5e3ed;
}
