* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial Narrow, sans-serif;
}

html,
body {
    min-height: 100dvh;
}

header {
    justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  margin: 1rem;
}
